%h2.my-10.text-3xl.font-bold Man liest Ashraf Fayad

%div{ data: { controller: 'ashraf', 'ashraf-current-index-value': 0 } }
  .inline-grid.grid-cols-2
    .cols-span-1.text-left
      %button{ 'data': { action: 'click->ashraf#previous', 'ashraf-target': 'previousButton' } } Previous
    .cols-span-1.text-right
      %button{ 'data': { action: 'click->ashraf#next', 'ashraf-target': 'nextButton' } } Next
    .col-span-full
      = image_pack_tag 'media/ashraf/collage_1.jpg', alt: "Ashraf Fayed Collage 1", data: { 'ashraf-target': 'image' }
      = image_pack_tag 'media/ashraf/collage_2.jpg', alt: "Ashraf Fayed Collage 2", data: { 'ashraf-target': 'image' }
      = image_pack_tag 'media/ashraf/collage_3.jpg', alt: "Ashraf Fayed Collage 3", data: { 'ashraf-target': 'image' }
