.py-16
  .grid.gap-y-8.grid-cols-1.sm:grid-cols-2.text-gray-700.text-sm.sm:divide-chocolate-300.sm:divide-y-0.sm:divide-x.sm:divide-x-2
    .text-center.sm:text-right.px-5.order-last.sm:order-first
      %h2.font-bold.text-gray-600 Address
      %address.not-italic
        Bar Garage Aarau
        %br
        Kirchgasse 6
        %br
        CH-5000 Aarau
        %br
        +41 62 823 56 14
        %br
        = mail_to 'contact@garasche.ch', 'Email us'

    .text-center.sm:text-left.px-5.order-first.sm:order-last
      %h2.font-bold.text-gray-600 Opening hours
      Tuesday 16:00 - 00:00
      %br
      Wednesday 16:00 - 00:00
      %br
      Thursday 11:30 - 14:00 | 16:00 - 00:00
      %br
      Friday 11:30 - 02:00
      %br
      Saturday 09:00 - 02:00
