%h2 Garage C

.my-5
  %h3.font-bold.mb-2 cuisine
  %p.mb-5.pb-5.border-b
    Miete der Küche, je nach Mietdauer CHF 50.00 - 100.00

  %h3.font-bold.mb-2 catering Rebeccas Küche
  %p.mb-5
    Rebeccas Küche kocht für Feste, Tête-à-têtes, Buisness-Lunches und
    andere freudvollen Ereignisse für Sie und Ihre Gäste. Wir kochen mit
    frischen und auserwählten Produkten am Tag Ihres Anlasses und liefern
    an den von Ihnen gewünschten Ort. In unserem Angebot finden Sie
    Speisen für ein fürstliches Abendessen, einen ausgiebigen Apéro oder
    für das abwechslungsreiche Eintopfbuffet.
  %p.mb-5
    Erzählen Sie uns von Ihren Wünschen und Ideen, wir machen Ihnen gerne
    ein Angebot.
  .mt-5
    Am besten erreichen Sie uns per Mail: rebeccakocht@bluewin.ch
