.border-t-2.border-b-2.py-2.sm:py-5.text-lg.sm:text-2xl.bg-opacity-50.bg-white.text-center
  .inline-grid.gap-2.sm:gap-4.grid-cols-1.sm:grid-cols-3.uppercase.tracking-widest
    .cols-span-1= render MenuLinkComponent.new('Home', root_path, %r{^/$})
    .cols-span-1= render MenuLinkComponent.new('About', about_path, %r{^/about$})
    .cols-span-1= render MenuLinkComponent.new('Facilities', facilities_path, %r{^/facilities$})
