%h1.font-bold.mb-4 Geschichte

%p.my-4.tracking-wider
  Nun, wie weit soll man zurückgehen?

%p.my-4
  Die GARAGE - als Gebäude existierte sie schon um 1630, auf den sogenannten Fisch- Zeichnungen im historischen Museum Aaraus kann man's sehen.

%p.my-4
  Zu dieser Zeit wurde die GARAGE als Aufgebahrungsort/Gebeinehaus benutzt, da der Kirchplatz zu jener Zeit der Friedhof war. Dieser Hintergrund war wohl auch bestimmend für die nächsten hundert Jahre, der Kirchplatz war ein ruhiger Platz, lebendige Mernschen waren nicht wirklich erwünscht.

%p.my-4
  Später wurde die GARAGE zur Unterkunft des Feuerwehrautos, dann des Autos (ja der altehrwürdige Volvo) der Stadtpolizei und nun seit 2005 ist es ein Unterhaltungs-und Konsumations-Center.
  Um die ganze Geschichte in einem Objekt zu erfassen haben wir im Sommer in der GARAGE einen Mercedes-Benz, welcher ein Auto, aber auch ein Sarg ist - und ein Objekt zeitgenössischer afrikanischer Kunst von Paa Joe aus Ghana


%p.my-4
  Zur Gegenwart:
  %br
  Wer also denkt, dass eine Garage einfach eine Garage sei, d.h. eine Lokalität, in welcher man ein Auto unterstellen kann, täuscht sich.
  In dieser GARAGE können sich vor allem Menschen unterstellen und auftanken.

%p.my-4
  Neben Wein, Weib und Gesang gibt es auch Biotta Säfte und Urban junior und zwischendurch trifft man auch verschiedene Aarauer Koryphäen (ich sage nur B und B oder C und C oder doch BB und CC?) an der Theke (was leider das Leben auch nicht spannender macht) - aber immerhin - oder ? Und sonst hat es immer wieder spannende, überraschende Leseangebote (mit Bildli für die Leseverweigerer) und zum Trinken hat's auch immer etwas.


.italic.my-8.text-gray-700.text-center.text-lg Dem Volke dienen ist nach wie vor unsere Lösung

%h2.font-bold.my-4 Members

%ul.my-4
  %li Manuel Stirnemann, Chefkoch und Patentsinhaber
  %li Eva Geser, Gesellschafterin
  %li Boris Egger, linker Flügel
  %li Yolanda Ludwig, Fredi's Licht in der Dunkelheit
  %li Wenzel A. Haller, Administrator


%ul.my-4
  %li Rebecca Moser, Starköchin
  %li Jeannette Hofmann, Création infinie
  %li Mario Schüttel, Webmaster
  %li der geile Dave, resident DJ


%ul.my-4
  %li The Hatsch und Sonja, GARAGE bei Nacht
  %li Hayat, Cem, Balz und Ivica, Barlament

%p.my-4
  Und all die lieben und teuren Gäste
